.home-page{
    background-color: #2F4F4F;
    color: white;
    min-height: 100vh;
    margin-top: -20px;

}

.home-h2{
    padding-top: 10%;
}

 .table-div{
     width: 70%;
     margin-top: 30px;
     margin-left: 10px;
 }
