.home-page{
    background-color: #2F4F4F;
    color: white;
    min-height: 100vh;
    margin-top: -20px;

}

.home-h2{
    padding-top: 10%;
}

 .table-div{
     width: 99%;
     margin-top: 30px;
     margin-left: 10px;
 }
 
 .animals-slider {
     width: 100%;
 }

 .slider-name {
     text-align: center;
     color: #052b4a;
     margin-top: 30px;
     
 }
