.home-page{
    background-color: #2F4F4F;
    color: white;
    min-height: 100vh;
    margin-top: -20px;

}

.home-h2{
    padding-top: 10%;
}

.tableAnimals {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

 .table-div{
     width: 70%;
     margin-top: 30px;
     margin-left: 10px;
 }

 .home-div {
   margin-top: 20px;
 }

 .img-div {
   margin-top: 35px;
 }

 .login-button {
   margin-top: 100px;
 }

 .slider {
   position: relative;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .slider-images {
   width: 300px;
   height: 200px;
   border-radius: 10px;
 }

 .right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
 }

 .left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
 }

 .slide{
   opacity: 0;
   transition-duration: 1s ease;
 }

 .slide.active{
   opacity: 1;
   transition-duration: 1s;
   transform: scale(1.08);
 }

