.home-page{
    background-color: #2F4F4F;
    color: white;
    min-height: 100vh;
    margin-top: -20px;

}

.home-h2{
    padding-top: 10%;
}

.tableAnimals {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

 .table-div{
     width: 70%;
     margin-top: 30px;
     margin-left: 10px;
 }

 .login-button:hover{
   background-color: lightgreen;
 }

 
 .login-button {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login-link-button{
    color: white;
    text-align: center;
    text-decoration: none;
}
